<p>
 <%= link_to project_path(@project) do %>
   <%= fa_icon("long-arrow-left") %> project
 <% end %>
</p>

<div id="ticket">
  <header>
    <h1><%= @project.name %></h1>
  </header>
  <header>
    <h2><%= @ticket.name %></h2>
  </header>
<%= simple_format(@ticket.description) %>
</div>

<table id="attributes">
  <tr>
    <th>Author:</th>
    <td><%= @ticket.author.email if @ticket.author.email? %></td>
  </tr>
  <tr>
    <th>Created:</th>
    <td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
  </tr>
</table>