<% title(@project.name, "Projects") %>
<p>
 <%= link_to projects_path do %>
    <%= fa_icon("long-arrow-left") %> projects
 <% end %>
</p> 
  
<header>
  <h1><%= @project.name %></h1>
  <ul class="actions">
    <li>
      <%= link_to fa_icon("pencil") + " Edit Project",
      edit_project_path(@project), class: "btn btn-primary" %>
    </li>
    <li>
      <%= link_to fa_icon("trash") + " Delete Project",
      project_path(@project),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this project?" },
      class: "btn btn-danger" %>
    </li>
  </ul>
</header>

<header>
  <h2>Tickets</h2>
  <ul class="actions">
    <li>
    <%= link_to "New Ticket", new_project_ticket_path(@project),
    class: "new" %>
    </li>
  </ul>
</header>

<% @project.tickets.each do |ticket| %>
  <li>
    <%= link_to project_ticket_path(@project, ticket) do %>
      <%= ticket.name %>      
    <% end %>
  </li>
  <ul class="actions">
    <li>
      <%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "edit" %>
    </li>
    <li>
      <%= link_to "Delete Ticket", [@project, @ticket], method: :delete, class: "destroy" %>
    </li>
  </ul>
<% end %>